.fourth-container {
  background: rgba(239, 239, 239, 1);
  padding: 50px;
  border-radius: 0px;
}

.title-fourth-container > p {
  text-align: center;
  margin-top: 0;
  padding-top: 50px;
}

.title-fourth-container > p > span {
  font-weight: 600;
  font-size: 30px;
  color: rgb(56, 56, 56);
  font-style: normal;
}

.fourth-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-fourth-section {
  margin: auto;
  display: flex;
  justify-content: center;
}

.certificado-image {
  margin: auto;
  width: 80%;
}
