@media (max-width: 2560px) {
  .main-second-container {
    width: 60%;
  }
}
@media (max-width: 1440px) {
  .firstSection {
    width: 80%;
  }
  .header {
    width: 80%;
  }
  .main-second-container {
    width: 75%;
  }
  .thrid-section {
    width: 100%;
  }
  .inside-block-from-thrid-section-block-2 {
    height: 87%;
  }
}
@media (max-width: 1024px) {
  .thrid-section-block-1 {
    width: 50%;
  }
  .p-title-thrid-section-block-1 {
    width: 80%;
    font-size: 20px;
  }
  .second-container {
    flex-direction: column;
    width: 100%;
  }
  .first-block-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .second-block-container {
    width: 100%;
  }
  .third-block-container {
    margin-top: 70px;
  }
  .floating-spans {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .inside-block-from-thrid-section-block-2 {
    height: auto;
    padding-bottom: 25px;
  }
  .thrid-section {
    flex-direction: column;
  }
  .second-block-container {
    margin-left: 0;
    margin: 0 auto;
    padding: 15px;
    width: 325px;
  }
  .second-text-second-block {
    width: 100%;
  }
  .second-block-extension {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-2 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-border {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-border-2 {
    margin-right: 0;
    margin-left: 0;
    height: auto;
    width: 100%;
  }
  .first-block-container {
    width: 100%;
  }
  .third-block-container {
    width: 100%;
    font-size: 14px;
  }
  .thrid-section-block-1 {
    width: 100%;
  }
  .thrid-section-block-2 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .header {
    justify-content: center;
  }
  .firstSection {
    flex-direction: column;
    width: 95%;
  }
  .blockOne {
    width: 100%;
    padding-bottom: 25px;
    text-align: center;
  }
  .blockTwo {
    width: 100%;
  }
  .floating-spans {
    width: 80%;
  }
  .thrid-section {
    flex-direction: column;
  }
  .thrid-section-block-1 {
    width: 80%;
  }
  .p-title-thrid-section-block-1 {
    width: 80%;
  }
  .thrid-section-block-2 {
    display: flex;
    justify-content: center;
  }
  .inside-block-from-thrid-section-block-2 {
    height: auto;
    padding-bottom: 25px;
  }
  .text-inside-cta {
    font-size: 15px;
  }
  .first-block-container {
    width: 325px;
  }
  .third-block-container {
    width: 100%;
    font-size: 14px;
  }
  .main-second-container {
    width: 100%;
  }
  .second-block-container {
    margin-left: 0;
    margin: 0 auto;
    padding: 15px;
    width: 325px;
  }
  .second-text-second-block {
    width: 100%;
  }
  .second-block-extension {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-2 {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-border {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .second-block-extension-border-2 {
    margin-right: 0;
    margin-left: 0;
    height: auto;
    width: 100%;
  }
  .floating-spans {
    width: 355px;
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
  }
  .callToActionBlock {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .first-block-container {
    width: 230px;
    padding-left: 10px;
  }
  .text-inside-padlock-2 span {
    font-size: 18px;
  }
  .callToActionBlock {
    font-size: 12px;
  }
  .floating-spans {
    width: 305px;
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
  }
}
